/.vscode
/108000232_hw2.cpp
/108000232_hw2.exe
/chap4_algo2023_slide.pdf
/chap5_algo2023_slide.pdf
/generate_case.cpp
/generate_case.exe
/homework3.pdf
/hw3.docx
/hw4
/hw4_bnb.cpp
/hw4_bnb.exe
/hw4_cha.cpp
/hw4_cha.exe
/hw4_cha2.cpp
/hw4_cha2.exe
/hw4_chat.cpp
/hw4_chat.exe
/hw4_new.exe
/hw4_withoutpath.cpp
/plot.png
/tempCodeRunnerFile.cpp
/tempCodeRunnerFile.exe
/test.txt
/testcase